<div class="dashboard">
  <div class="claim-cards">
    <div class="card claim-list-card" [routerLink]="['/admin/claims']" [queryParams]="{ tab: 'list' }">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-list"></i> Claim List</h5>
        <p class="card-text">View all claims.</p>
      </div>
    </div>

    <div class="card accepted-claims-card" [routerLink]="['/admin/claims']" [queryParams]="{ tab: 'approved' }">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-check-circle"></i> Accepted Claims</h5>
        <p class="card-text">View accepted claims.</p>
      </div>
    </div>

    <div class="card rejected-claims-card" [routerLink]="['/admin/claims']" [queryParams]="{ tab: 'rejected' }">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-x-circle"></i> Rejected Claims</h5>
        <p class="card-text">View rejected claims.</p>
      </div>
    </div>

    <div class="card pending-claims-card" [routerLink]="['/admin/claims']" [queryParams]="{ tab: 'pending' }">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-hourglass-split"></i> Pending Claims</h5>
        <p class="card-text">View pending claims.</p>
      </div>
    </div>
  </div>
</div>
