.additionalImage {
  background-image: url('./../../../../assets/images/additioal-info.jpg'); /* Set background image */
  background-size: cover;
  background-repeat: repeat-x repeat-y;
  
 
}

.additional-info-card {
  position: relative;
  margin: 80px auto;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  color: #333;
  max-width: 800px;
  animation: fadeIn 1s ease-in-out, slideIn 1s ease-in-out;
}

.card-header {
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  transition: transform 0.3s ease;
}

.form-control:focus {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
  font-size: 1.1em;
  color: #3700ff;
}


.submit-button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Keyframes for Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

.bodyImg{
  background-image: url('../../../../assets/images/additional-info.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}