.incident-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./../../../../assets/images/damage-assessment2.jpg');
  background-size: cover;
  overflow-y: auto;
  padding: 20px;
  height: 900px;
}

.card {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 500px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

h2 {
  text-align: center;
  color: #007bff;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
  border-color: #007bff;
}

textarea {
  resize: vertical;
}

.submit-button {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: move 1s infinite alternate;
}

.submit-button:hover {
  background-color: #0056b3;
}

@keyframes move {
  from { transform: translateY(0); }
  to { transform: translateY(-5px); }
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}



@media (max-width: 600px) {
  .incident-details-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .card {
    padding: 15px;
  }

  input, textarea, .submit-button {
    padding: 10px;
  }

}